<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>女</dd>

                <dt class="text-upper">出生日期</dt>
                <dd>09 Sep 1995</dd>

                <dt class="text-upper">手机</dt>
                <dd>1772782xxxx</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:wxy1376258881@163.com">wxy1376258881@163.com</a></dd>

                <dt class="text-upper">英语</dt>
                <dd>CET-4</dd>

<!--                 <dt class="text-upper">日语</dt> -->
<!--                 <dd>一级</dd> -->
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
